/* -------------------------------------------header----------------------------------- */
.bg-primary {
    background-color: #263045 !important;
    color: #9297a2;
}
.bg-light{
    background-color: #fff;
}
.bg-600 {
   background-image:url("../img/img_header.png");
   background-repeat: no-repeat;
   background-size: 100%;
}
.btn-primary {
    color: #fff;
    background-color: #2d4a8a;
    border-color: #2d4a8a;
}

.navbar-contact {
    display: block ;
    border-left: 1px solid #ccc;
    margin-left: 15px;
}

.navbar-contact .col-lg-6 {
    width: auto;
}
.btn-outline-light{
    border-radius: 50%;
    background-color: #f3f7fd;
}
/* -------------------------------------------header----------------------------------- */
.bg-secondary {
    background-color:#fff;
}
.card-slider{
    background-color: #263045;
    height: 190px;
    border-color: #fff;
    border-style: solid;
    border-width: 12px;
    z-index: 1;
    position: inherit;
}
.card-besides{
background-color: #2d4a8a;
}
.card-between{
background-color: #253e74;
}
.background-card-slider{
    background-color: #f8f8f8;
    height: 259px;
    top: -123px;
    z-index: 0;
}